.container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  gap: 70px;

  .texts {
    h2 {
      /* Style for "Хватит дум" */
      font-size: 35px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: normal;
      line-height: 45px;
      text-align: left;
      color: #ffaf18;
      span {
        color: #b99150;
      }
    }
    p {
      color: #b99150;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 24px;
      text-align: left;
    }
  }

  img {
    object-fit: cover;
    max-width: 410px;
    max-height: 450px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    input {
      width: 330px;
      height: 60px;
      padding-left: 22px;
      border: 1px solid #b99150;
      background-color: #ffffff;
      font-size: 18px;

      &::placeholder {
        color: #b99150;
      }
    }
    button {
      width: 330px;
    }
  }
}

.validation {
  color: red;
}
