<div class="container">
  <div class="texts">
    <h2>Хватит думать! <span>Доставим заказ за 30 минут!</span></h2>
    <p>Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту
      - вы
      получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё,
      чтобы
      наш клиент был доволен и не остался голодный!</p>
  </div>
  <form>
    <input type="text" placeholder="Ваше имя">
    <input type="text" placeholder="Адрес доставки">
    <input type="text" placeholder="Телефон">
    <button>Оформить Заказ</button>
  </form>
  <img src="../../assets/pictures/slice.png" />
</div>