<div class="container">
  <div class="texts">
    <h2>Хватит думать! <span>Доставим заказ за 30 минут!</span></h2>
    <p>Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту
      - вы
      получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё,
      чтобы
      наш клиент был доволен и не остался голодный!</p>
  </div>
  <form [formGroup]="orderForm">
    <input (ngModelChange)="onInput($event)" formControlName="name" type="text" placeholder="Ваше имя">
    <p *ngIf="orderForm.controls['name'].touched && orderForm.controls['name'].errors?.['required'] "
      class="validation">Введите Имя</p>
    <input formControlName="adress" type="text" placeholder="Адрес доставки">
    <p *ngIf="orderForm.controls['adress'].touched && orderForm.controls['adress'].errors?.['required'] "
      class="validation">Введите адрес</p>
    <input formControlName="number" type="text" placeholder="Телефон" [imask]="{ mask: '+{7} (000) 000-00-00' }">
    <p *ngIf="orderForm.controls['number'].touched && orderForm.controls['number'].errors?.['required'] "
      class="validation">Введите номер</p>
    <p *ngIf="error" class="validation">Введите данные</p>
    <button (click)="submit()">Оформить Заказ</button>
  </form>
  <img src="../../assets/pictures/slice.png" />
</div>