@import "/src/assets/style/colors.scss";

.container {
  display: flex;
  justify-content: space-around;
  gap: 60px;
  align-items: center;
  .main-pizza {
    flex: 3;
    display: block;
    max-width: 520px;
    max-height: 340px;
    object-fit: cover;
  }

  .up-text {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 55px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 50px;
    .color-brown {
      color: $brown;
    }
    .color-orange {
      color: $orange;
    }
  }
  .under-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    div {
      display: flex;
      column-gap: 17px;
      img {
        align-self: center;
        width: 60px;
        height: 60px;
      }
      .texts {
        display: flex;
        flex-direction: column;
        h4 {
          color: $orange;
          font-weight: bold;
          text-transform: uppercase;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: 16px;
          text-align: left;
          font-style: normal;
          letter-spacing: 0.32px;
          line-height: normal;
          color: $brown;
        }
      }
    }
  }
}
