<div class="container">
  <div>
    <div class="up-text">
      <p class="color-brown">Самая вкусная пицца в мире </p>
      <p class="color-orange">только в Pizza Cheff</p>
    </div>
    <div class="under-text">
      <div>
        <img class="icon" src="../../assets/icons/hop.png" alt="best icon">
        <div class="texts">
          <h4>Лучшее тесто</h4>
          <p>Мы создаем тесто только из
            отборной итальянской муки
            наивысшего качества</p>
        </div>
      </div>
      <div>
        <img class="icon" src="../../assets/icons/seo-and-web.png" alt="best icon">
        <div class="texts">
          <h4>Лучшие повара</h4>
          <p>Пиццы готовят самые
            профессиональные
            итальянские повара</p>
        </div>
      </div>
      <div>
        <img class="icon" src="../../assets/icons/kitchen-pack.png" alt="best icon">
        <div class="texts">
          <h4>гарантия качества</h4>
          <p>Наша пиццерия получила
            множество наград и
            признаний по всему миру</p>
        </div>
      </div>
      <div>
        <img class="icon" src="../../assets/icons/holidays.png" alt="best icon">
        <div class="texts">
          <h4>отборные рецепты</h4>
          <p>Мы используем рецепты
            от мировых лидеров
            в изготовлении пиццы</p>
        </div>
      </div>
      <button>Выбрать пиццу</button>
    </div>
  </div>
  <img src="../../assets/pictures/pizza_big@2x.png" alt="pizza">
</div>